.team-descrp {
  font-size: 15px;
  color: rgb(153, 153, 153);
  padding-top: 38px;
  margin: 0 auto;
  width: 946px;
  text-align: center;
  line-height: 24px;
  font-family: $p-font;
  display: block;
  font-weight: 400;
}

.team__list {
  font-size: 0px;
  display: flex;
  justify-content: space-between;
  padding-top: 66px;

  &-item {
    width: 380px;
    text-transform: capitalize;
    list-style: none;
    text-decoration: none;

    &:hover .overlay {
      opacity: 1;
      transform: translate(-10px, -10px);
      box-shadow: 10px 10px 0 rgb(149, 225, 211);

    }

    &:hover .team__list-img {
      transform: translate(-10px, -10px);

    }

    &-position {
      font-size: 15px;
      font-family: $p-font;
      color: rgb(153, 153, 153);
      padding-top: 12px;
      text-align: center;
      font-weight: 300;
      font-style: italic;
    }

    &-name {
      font-size: 14px;
      font-family: $main-font;
      text-transform: uppercase;
      font-weight: 400;
      text-align: center;
      padding-top: 26px;
    }

  }

  &-img-tint {
    position: relative;
  }

  &-img {
    transition-duration: .2s;
    transition-delay: .2s;
    transition-timing-function: linear;
  }
}

.overlay {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(251, 227, 137, 0.9), rgba(243, 129, 129, 0.9));
  transition-duration: .2s;
  transition-delay: .2s;
  transition-timing-function: linear;

  &__list {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    position: absolute;
    width: 224px;

    &-item {
      display: inline-block;
      width: 56px;
      height: 56px;
      background-color: rgb(252, 227, 138);
      border: none;
      background-position: center;
      background-repeat: no-repeat;
      box-sizing: border-box;

      &:not(:last-child) {
        border-right: 1px solid $pink-color;
      }

      &:hover .overlay__list-icon {
        fill: white;
      }

      &:hover {
        background-color: $pink-color;
      }
    }

    &-icon {
      transform: translateY(50%);
      object-position: center;
      width: 30px;
      height: 30px;
      fill: $pink-color;
    }
  }
}
