$main-font: 'Montserrat',sans-serif;
$h-font: 'Kaushan Script',cursive;
$p-font: 'Roboto',sans-serif;
$main-color: rgb(148, 225, 211);
$pink-color: rgb(243, 129, 129);
$yellow-color: rgb(251, 227, 137);
